// out: false, compress: false, strictMath: true
.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.animate_fade {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.center_container * {
    /* прикрутим анимацию */
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.settings_menu,
.table,
.suppliers_card,
.order_title,
.order_layout,
.detail_card_title_fon,
.detail_card_fon {
    /* прикрутим анимацию */
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/*Окно смены пароля*/

.profile_menu {
    .add_suppliers;
    /* прикрутим анимацию */
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#add_tour_main:checked~#add_tour_main_container *,
#add_tour_checkbox:checked~#add_tour_checkbox_container *,
#add_tour_description:checked~#add_tour_description_container *,
#add_tour_files:checked~#add_tour_files_container *,
#add_tour_extracharges:checked~#add_tour_extracharges_container *,
#settings_tour_checkbox:checked~#settings_tour_checkbox_container *,
#settings_tour_type:checked~#settings_tour_type_container *,
#settings_tour_extracharges:checked~#settings_tour_extracharges_container * {
    /* прикрутим анимацию */
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/*Particles*/

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: @main-color;
}


/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Animation button*/

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    20% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    20% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}