// out: ../css/style.css, compress: false, strictMath: true
@bg-color: #f0f0f0; //самый светлый цвет фона
@main-color: #3D3584; // Самый темный цвет фона 3D3584 #3a519b
@main-second-color: #569FE2; // Цвет для интернет магазина светлый
@focus-color: #e2c85b; // Акцентный цвет
@font-color-dark: #000;
@font-color-light: #fff;
@font-color-error: #9b3030;
@font-size: 1em;
@box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
@bs-hover: 0 3px 7px rgba(0, 0, 0, 0.17),
0 2px 6px rgba(0, 0, 0, 0.30);
@inset-box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.12),
inset 0 0px 2px rgba(0, 0, 0, 0.24);
@border: 1px solid rgba(0, 0, 0, 0.1);
@b-hover: 1px solid rgba(0, 0, 0, 0.3);
@b-radius: 5px;
@import "admin";
@import "admin_menu";
@import "animation";
@import "button";
@import "form";
@import "main";
//@import "media";
@import "tabs";

html {
    font-family: 'Open Sans', sans-serif;
}

body,
#container {
    padding: 0;
    margin: 0;
    background-color: @bg-color;
    min-width: 320px;
}

i {
    padding: 0.5rem;
}

p {
    margin: 0;
}

.rounded {
    border-radius: 2.5em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    color: fade(@font-color-dark, 87%);
    line-height: 115%;
    margin: 0.75em 0;
}

h4 {
    font-size: (@font-size*2.125);
}

h5 {
    font-size: (@font-size*1.5);
}

h6 {
    font-size: (@font-size*1.25);
}

/*COLORS*/

.pri-col {
    color: @main-color  !important;
}

.pri-bg {
    background-color: lighten(@main-color, 40%) !important;
}

.sec-col {
    color: @main-second-color  !important;
}

.sec-bg {
    background-color: lighten(@main-second-color, 30%) !important;
}

.foc-col {
    color: @focus-color  !important;
}

.foc-bg {
    background-color: lighten(@focus-color, 25%) !important;
}

.green {
    color: fade(green, 54%) !important;
    font-weight: 700;
    &:hover {
        color: fade(green, 87%);
    }
}

.red {
    color: fade(@font-color-error, 54%) !important;
    font-weight: 700;
    &:hover {
        color: fade(@font-color-error, 87%);
    }
}

.error {
    text-align: center;
    color: @font-color-error;
    font-size: (@font-size*0.875);
    height: 1rem;
    margin-bottom: 1rem;
}

/*PLACEHOLDER*/

.ph-dark {
    /*PLACEHOLDER*/
    &::-webkit-input-placeholder {
        color: fade(@font-color-dark, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    &:-ms-input-placeholder {
        color: fade(@font-color-dark, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    &::-ms-input-placeholder {
        color: fade(@font-color-dark, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    /*HOVER*/
    &:hover::-webkit-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    &:hover:-ms-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    &:hover::-ms-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    /*FOCUS*/
    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
    &:focus::-ms-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
}

.ph-light {
    /*PLACEHOLDER*/
    &::-webkit-input-placeholder {
        color: fade(@font-color-light, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    &:-ms-input-placeholder {
        color: fade(@font-color-light, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    &::-ms-input-placeholder {
        color: fade(@font-color-light, 54%);
        opacity: 1;
        transition: 0.3s ease;
    }
    /*HOVER*/
    &:hover::-webkit-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    &:hover:-ms-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    &:hover::-ms-input-placeholder {
        color: fade(@font-color-dark, 87%);
    }
    /*FOCUS*/
    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
    &:focus::-ms-input-placeholder {
        opacity: 0;
        transition: 0.3s ease;
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    .container {
        max-width: none;
    }
}